<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi facilis perferendis labore harum nostrum ipsa dolorem nobis dolores rem dicta.</p>
    </div>
</section>