
<div class="jumbotron mt-4">
  <h1 class="display-4">Note App Nodejs and Mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, eaque vitae possimus modi at magni.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dicta beatae sint eos, tempora quasi! Doloremque cupiditate harum sint omnis!</p>
  <a href="http://google.com" class="btn btn-primary">google</a>
</div>

